@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  background-color: #000;
  color: #555;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

@media screen and (min-width: 975px) {
  body {
    width: 94%;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  body {
    width: 80%;
    margin: auto;
  }
}
