.colorChangeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15%;
}

fieldset {
  border: none;
  margin-bottom: 1.5em;
  width: 30%;
  color: white;
  align-items: center;
}

.sliderLabel {
  font-size: 1.5em;
}

.hexCode {
  // margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 4px;
  width: 15%;
  text-align: center;
  font-size: 2em;
  border-radius: 0.3em;
  color: white;
}

.slider {
  width: 85%;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.865);
  background: transparent;
  outline: none;
  -webkit-transition: 0.02s;
  transition: opacity 0.2s;
  margin-right: 1em;
  margin-left: 1em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

button {
  margin-top: 1em;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  width: 15%;
}

button:hover {
  background-color: rgba(51, 58, 91, 0.742);
}

#onAndOff {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

#on {
  margin-right: 3em;
}

#lastFieldset {
  margin-bottom: 0;
}
